<div class="container">
  <h2 style="text-align: center;">User Details</h2>
  <br>
  <br>
  <br>
  <a href="#adduser" class="btn btn-success m-1" (click)="submituser(0)">Add User</a>
  <table class="table table-striped table-resposive table-hover table-sm">
    <thead>
      <tr class="bg_cl text-white">
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Address</th>
        <th scope="col">Profile</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of details" >
        <td>{{d.fullName}}</td> 
        <td>{{d.email}}</td>
        <td>{{d.mobile}}</td>
        <td>{{d.address}}</td>
        <td>{{d.photo}}</td>
<td >
  <button class="btn btn-danger " (click)="deleteUser(d)">Delete</button>
  <a href="#adduser" class="btn btn-info ms-3"  (click)="editdata(d)">Edit</a>
</td>
</tr>
      
    </tbody>
  </table>
</div>
<br>
<br>
<br>

<section *ngIf="user" id="adduser" class="container">
  <div class="card-body">
      <h5 class="card-title"><div class="d-inline p-2 bg-dark text-white">{{ formTitle }}</div></h5>
<div class="row justify-content-center py-3">
  <div class="col-md-6 text-left bg-white rounded shadow py-4 ">

    <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="fullName" class="form-control" id="fullName" formControlName="fullName" aria-describedby="fullNameHelp" placeholder=" please Enter Full Name" [(ngModel)]="data.fullName ">
        <small class="text-danger" *ngIf="!myReactiveForm.get('fullName').valid && myReactiveForm.get('fullName').touched">
        <span  class="text-danger" *ngIf="!myReactiveForm.get('fullName').errors['minLength']">Minimum 3 character required</span></small>
        
        
      
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email" placeholder="Please Enter email"  [(ngModel)]="data.email">
        <small class="text-danger" *ngIf="!myReactiveForm.get('email').valid && myReactiveForm.get('email').touched">Please Enter Valid Email</small>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile Number</label>
        <input type="mobile" class="form-control" id="mobile" aria-describedby="mobileHelp" formControlName="mobile" placeholder="Please Enter Mobile Number" [(ngModel)]="data.mobile">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="address" class="form-control" id="address" formControlName="address" aria-describedby="addressHelp" placeholder="Please Enter Address" [(ngModel)]="data.address">
      </div>
      <div class="form-group">
        <label for="image">Profile Photo:</label>
        <input id="image" type="file" name="profile_photo" #inputRef (change)="filechange(inputRef)" class="form-control" placeholder="Photo" aria-describedby="photoHelp"  formControlName="photo" [(ngModel)]="data.photo" >
    </div>
    <small class="text-danger" *ngIf="!myReactiveForm.get('photo').valid && myReactiveForm.get('photo').touched">File is required</small>
     
    <button type="submit" class="btn btn-primary my-2 ms-3" [disabled]="!myReactiveForm.valid" (click)="addUserData()">{{ btnName }}</button>
    <button type="submit" class="btn btn-primary my-2 ms-3" (click)="close()">Cancel</button>

    </form> 

  </div>
</div>
</div>





<router-outlet></router-outlet>